<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>

<body>
    <div class="form-contains">
        <h2>Insert_Data</h2>
        <form method="POST">
            <div>
                <lable>First Name</lable>
                <input type="text" name="name" required>
            </div>
            <div>
                <lable>Subject</lable>
                <input type="text" name="subject" required>
            </div>
            <div>
                <lable>Email</lable>
                <input type="email" name="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        
    </div>
</body>
</html>